html {
    font-size: 62.5%;
}

body {
    background-image: url("../img/1.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card {
    border: none;
}

.daily {
    border-radius: 28px !important;
    background-color: #fff0;
}

.chart {
    width: 150px;
    height: 150px;
    border: 25px solid #ffffff;
    border-radius: 50%;
    margin: 26px auto;
}

.list-circle {
    color: #3a3a2f;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    list-style: none;
    font-size: 1.2rem;
}

.box {
    text-align: center;
}

.circle {
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    width: 40px;
    height: 40px;
}

.text {
    color: #ffffff;
    font-size: 1.4rem;
}

.circle--teals {
    background-color: #4db2ac;
}

.circle--yellows {
    background-color: #edec93;
}

.circle--greys {
    background-color: #cacaca;
}

.circle--whites {
    background-color: #ffffff;
}

.img {
    position: relative;
    background-image: url("../img/emma-smith-kz1AD-zt5lk-unsplash.jpg");
    height: 274px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px 20px 0 0;
}

.border-body {
    border-radius: 0 0 20px 20px;
}

.big-one {
    position: absolute;
    color: white;
    top: 4%;
    left: 36%;
}

.heat {
    font-size: 8rem;
}

.cloud {
    font-size: 1.6rem;
    padding-left: 4px;
}

.celsius {
    display: flex;
}

.deg {
    display: inline-block;
}

.day {
    font-size: 0.8rem;
    color: white;
    padding: 0 20px;
}

.weather-title {
    display: flex;
    align-items: center;
}

.weather-icon {
    color: #ffffff;
}

.month {
    color: #4db2ac;
    border-left: 1px solid #ffffff;
    padding-left: 8px;
}

.thu {
    padding-right: 8px;
}

.deg {
    color: #e1e08c;
    position: relative;
    font-size: 1.2rem;
}

.widget {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.widget-day h5 {
    font-size: 1rem;
    color: #ffffff;
}

.widget-day h6 {
    font-size: 0.8rem;
    color: #ffffff;
}

.widget-deg h6 {
    font-size: 4rem;
    color: #ffffff;
    margin-left: 16px;
}

.point-icon {
    color: #edec93;
}

.london {
    padding-left: 10px;
}

.widget-card-1 {
    border: none !important;
    border-radius: 20px 0px 0 20px;
    flex-direction: row;
}

.widget-card-2 {
    border: none !important;
    border-radius: 0px 20px 20px 0;
    flex-direction: row;
}

.cloudy {
    color: #ffffff;
    font-size: 1rem;
    margin: 0;
}

.icon-cloud {
    color: #ffffff;
    font-size: 2.4rem;
}

.widget-cloud {
    text-align: center;
}

.widget-body {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ------------- */

.carousel-year {
    font-size: 2.4rem;
}

.carousel-month {
    font-size: 3.8rem;
    margin-bottom: 18px;
}

.carousel-button {
    border-radius: 20px;
    font-size: 1.2rem;
    line-height: 12px;
}

.carousel-caption {
    right: 12%;
    bottom: 50px;
}

.calendar {
    font-size: 1.4rem;
    text-align: center;
}

.weekdays {
    list-style: none;
    margin: auto;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.46);
    position: absolute;
    top: -21%;
    left: 0%;
    width: 100%;
    padding: 10px 0;
    color: #ffffffab;
}

.weekdays li {
    display: inline-block;
    width: 12%;
}

.calendar-day {
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
}

.active-day {
    background-color: #edec93;
    height: 32px;
    width: 32px !important;
    border-radius: 50%;
    color: black !important;
}

.calendar-day li {
    display: inline-block;
    width: 12%;
    padding: 6px 0;
    color: #ffffff;
}

.card-calendar {
    position: relative;
    padding: 0 10px;
}

.carousel-border {
    border-radius: 20px 20px 0 0;
}

/* -----Headphones------ */

.img-headphone {
    background-image: url("../img/1.jpg");
    height: 284px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px 20px 0 0;
}

.headphone-header {
    position: absolute;
    top: 44px;
    right: 0;
}

.headphone-price {
    background-color: #4db2ac;
    padding: 6px 30px;
    text-align: center;
    color: #ffffff;
    border-radius: 30px 0 0 30px;
}

.headphone-nav {
    position: absolute;
    top: 244px;
    left: 0;
    color: #ffffff;
    background-color: #0000008c;
    width: 100%;
    text-align: right;
    padding: 10px 0;
}

.headphone-icon:hover {
    color: #ffffff;
}

.headphone-icon {
    margin-right: 20px;
    font-size: 1.4rem;
    color: #ffffff;
}

.headphone-title {
    color: #d9d987;
    font-size: 2.4rem;
}

.headphone-text {
    font-size: 1.2rem;
    color: #ffffff;
}

.video {
    border-radius: 20px;
}

.social {
    display: flex;
    justify-content: space-between;
}

.example {
    display: flex;
}

.seach {
    padding: 16px;
    font-size: 1.6rem;
    width: 100%;
    background: #242424;
    outline: none;
    border: none;
    border-radius: 10px 0 0 10px;
    color: #ffffff;
    height: 46px;
}

.button-seach {
    width: 54px;
    padding: 10px;
    background: #242424;
    color: white;
    font-size: 1.6rem;
    border-left: none;
    /* Prevent double borders */
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 0 10px 10px 0;
}

.social-icon {
    font-size: 2.4rem;
    height: 46px;
    width: 46px;
    background-color: #242424;
    line-height: 46px;
    text-align: center;
    color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

.active-social:focus {
    color: #242424;
    background-color: #ffffff;
    outline: none;
}

.social-icon:hover {
    color: #242424;
    background-color: #ffffff;
    transition: linear 0.2s;
}

/*----Account----- */

.header-boder {
    border-radius: 20px 20px 0 0 !important;
}

.footer-boder {
    border-radius: 0 0 20px 20px !important;
}

.form-account {
    display: block;
    width: 100%;
    height: 38px;
    padding: 0 20px;
    font-weight: 400;
    line-height: 38px;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 20px;
    outline: none;
}

.forgot {
    text-align: right;
    font-size: 1.4rem;
    margin: 8px 4px;
}

.forgot a {
    color: #d5d106;
}

.forgot:hover a {
    text-decoration: none;
}

.login {
    position: relative;
}

.button-login {
    cursor: pointer;
}

.form-login::after {
    position: absolute;
    content: "";
    border-left: 1px solid #ffffff;
    height: 152px;
    top: 10%;
    left: 50%;
}

.footer-text {
    color: #d5d106;
}

.footer-text:hover {
    text-decoration: none;
    color: #d5d106;
}

@media only screen and (max-width: 600px) {
    .form-login::after {
        position: absolute;
        content: "";
        border-left: 1px solid #ffffff;
        height: 0;
        top: 10%;
        left: 50%;
    }
}

@media only screen and (max-width: 767px) {
    html {
        font-size: 50%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    html {
        font-size: 56.25%;
    }
}

